html, body {
    margin: 0 auto;
    font-family: 'Open Sans Condensed', sans-serif;
     
}
.grid-container {
    display: grid;
    width:300px;
    margin: 0 auto;
    margin-top: 100px;
    grid-gap: 5px;
    grid-template-columns: auto, auto;
    grid-template-rows: 50px, 50px, 50px;
}
.toggles {
    display: grid;
    justify-content: center;
    
    margin: 0 auto;
    margin-top: 10px;
    grid-gap: 5px;
    grid-template-columns: 50, 50;
    grid-template-rows: 50px, 50px;
    width: 300px;
    
}
#seq-display {
    color: black;
    text-align: center;
    grid-row: 2 / span 1;
}
#error-p {
    width: 300px;
    color: #FF1100;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
}
#reset-b {
    grid-column: 1/2;
    height: 25px;
    background-color: #96FFC1;
    color: black;
    border-radius: 25px;
}
#start-b {
    grid-column: 2/3;
    height: 25px;
    background-color: #96FFC1;
    color: black;
    border-radius: 25px;
}
#title-h {
    grid-column: 1/3;
    border-radius: 40px;
    background-color: #98D9B2;
    text-align: center;
    color: #FF1100;
    font-size: 32;
}

.label-text {
    color: #FF1100; 
}
.btn-primary {
    color: white;
    height: 50px;
    border-radius: 5px;
    background-color: #B2524C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
